* {
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

body {
    background-image: url(images/lots-of-dogs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px;
    background-position-y: inherit;
}

.container {
    border: 2px gray solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    max-width: 500px;
    margin: 30px auto 0 auto;
    background-color: white;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,1);
}

input, select {
    display: block;
    width: 100px;
    margin: 20px auto 20px auto;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,1);
    border: black 1px solid;
    border-radius: 5px;
}

h3 {
    margin: 10px auto 10px auto;
}

p {
    color: red;
}

#button, #breed-button {
    color: white;
    background-color: dimgray;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,1);
}

#button:hover, #breed-button:hover {
    color: dimgray;
    background-color: gainsboro;
}

.hidden {
    display: none;
}

.results-img {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,1);
    margin: 0 auto 15px auto;
}

